@import "../variables";

.ant-breadcrumb-link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $gh-light-blue;

    @apply dark:text-gh-blue-text;

    a {
        color: $gh-light-text-muted;

        @apply dark:text-gh-text-muted;

        &:hover {
            background-color: transparent;
        }
    }
}

.custom-breadcrumbs {
    li {
        display: flex;
        color: $gh-light-text-muted;

        @apply dark:text-gh-text-muted;
    }
}

.current-breadcrumb {
    a {
        color: $gh-light-blue;

        @apply dark:text-gh-blue-text;
    }
}