@import "../variables";

.header-container {
    .ant-layout-header {
        display: flex;
        align-items: center;
        background-color: $gh-light-bg-primary;
        height: 64px;
        padding: 0px;
        line-height: 64px;
        border-bottom: 1px solid $gh-light-border;
        position: fixed;
        z-index: 2;
        width: 100%;

        @apply dark:bg-gh-bg-secondary dark:border-gh-border;
    }

    .ant-btn-icon {
        display: flex;
        align-items: center;
        color: $gh-light-blue;

        @apply dark:text-gh-blue-text;

        .exit-icon {
            color: $gh-light-text-secondary !important;

            @apply dark:text-gh-text-muted;
        }
    }
}

.title-container {
    background-color: $gh-light-bg-primary;

    @apply dark:bg-gh-bg-primary;
}

.page-title {
    text-align: start;
    padding: 15px 15px 0px 15px;
    color: $gh-light-text-primary;

    @apply dark:text-gh-text-primary;
}

.collapse-icon {
    color: red;
    @apply dark:text-gh-text-primary;
}